<h1>Thêm Mới</h1>
<form action="/add" method="post">
    <table border="1">
        <tr>
            <th>LABLE</th>
            <th>VALUE</th>
        </tr>
        <tr>
            <td>IdVillage:</td>
            <td><input type="text" name="IdVillage"></td>
        </tr>
        <tr>
            <td>Address:</td>
            <td><input type="text" name="Address"></td>
        </tr>
        <tr>
            <td>IsGetNotification:</td>
            <td><input type="text" name="IsGetNotification"></td>
        </tr>
        <tr>
            <td>IsVerified:</td>
            <td><input type="text" name="IsVerified"></td>
        </tr>
        <tr>
            <td>IsGetOpen:</td>
            <td><input type="text" name="IsGetOpen"></td>
        </tr>

    </table>


    

    <button type="submit">Thêm</button>
</form>